body {
  font-family: Arial, sans-serif;
  background-color: #F7E9E9;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  font-weight: lighter;
}

.about-section {
  background-color: #E8F7E9;
  padding: 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-section {
  background-color: #E9EBF7;
  padding: 20px;
  text-align: center;
}

.skills-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-section li {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
 
